<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kwtw.kw1" version="1.4.9" versionCode="1149" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>KOM With The Wind</name>
    <description>KOM With The Wind
    </description>
    <author email="admin@komwiththewind.com" href="http://www.komwiththewind.com">
        Orchid Global Limited
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
  <plugin name="cordova-plugin-inappbrowser" source="npm"/>
   <plugin name="cordova-plugin-network-information" source="npm"/>
  <plugin name="cordova-plugin-network-information" source="npm"/>
  <plugin name="cordova-plugin-payment-iap" source="npm" />
  <plugin name="cordova-plugin-geolocation" source="npm" />
  <plugin name="cordova-plugin-statusbar" source="npm" />

  <preference name="StatusBarOverlaysWebView" value="false" />
  <preference name="StatusBarBackgroundColor" value="#000000" />
  <preference name="StatusBarStyle" value="lightcontent" />
  <preference name="BackupWebStorage" value="none"/>

<feature name="http://api.phonegap.com/1.0/geolocation" />
    <feature name="http://api.phonegap.com/1.0/network" />
    <feature name="http://api.phonegap.com/1.0/device" />
  <feature name="Geolocation">
    <param name="android-package" value="org.apache.cordova.GeoBroker" />
</feature>
  <icon platform="ios" height="57" src="icon-57.png" width="57" />
  <icon platform="ios" height="60" src="icon-60.png" width="60" />
  <icon platform="ios" height="120" src="icon-60@2x.png" width="120" />
  <icon platform="ios" height="114" src="icon@2x.png" width="114" />
  <icon platform="ios" height="72" src="icon-72.png" width="72" />
  <icon platform="ios" height="144" src="icon-72@2x.png" width="144" />
  <icon platform="ios" height="76" src="icon-76.png" width="76" />
  <icon platform="ios" height="152" src="icon-76@2x.png" width="152" />
  <icon platform="ios" height="29" src="icon-small.png" width="29" />
  <icon platform="ios" height="58" src="icon-small@2x.png" width="58" />
  <icon platform="ios" height="50" src="icon-50.png" width="50" />
  <icon platform="ios" height="100" src="icon-50@2x.png" width="100" />
  <icon platform="ios" height="40" src="icon-40.png" width="40" />
  <icon platform="ios" height="80" src="icon-40@2x.png" width="80" />
  <splash platform="ios" height="480" src="Default.png" width="320" />
  <splash platform="ios" height="960" src="Default@2x.png" width="640" />
  <splash platform="ios" height="1136" src="Default-568h@2x.png" width="640" />
  <splash platform="ios" height="1024" src="Default-Portrait.png" width="768" />
  <splash platform="ios" height="768" src="Default-Landscape.png" width="1024" />
  <splash platform="ios" height="2048" src="Default-Portrait@2x.png" width="1536" />
  <splash platform="ios" height="1536" src="Default-Landscape@2x.png" width="2048" />
  <splash platform="ios" height="748" src="Default-Landscape-1024-748-no-bar.png" width="1024" />
  <splash platform="ios" height="1496" src="Default-Landscape-2048-1496-no-bar.png" width="2048" />
  <splash platform="ios" height="2008" src="Default-Portrait@2x-no-bar.png" width="1536" />
  <splash platform="ios" height="1004" src="Default-Portrait-no-bar.png" width="768" />
  <splash platform="ios" height="1242" src="Default-Landscape-736h.png" width="2208" />
  <icon src="ldpi.png" platform="android" qualifier="ldpi" />
  <icon src="mdpi.png" platform="android" qualifier="mdpi" />
  <icon src="hdpi.png" platform="android" qualifier="hdpi" />
<icon src="xhdpi.png" platform="android" qualifier="xhdpi" />
    <icon src="icon.png"/>
  <splash src="splash.png" />
  <allow-intent href="market:*" />
  <allow-navigation href="http://*/*" />
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
    <platform name="android">
    <plugin name="cordova-custom-config" version="*"/>
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="ios" spec="~4.1.1" />
    <engine name="android" spec="~5.1.1" />
</widget>
