<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kwtw.kw1" version="0.3.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>KOM With The Wind</name>
    <description>KOM With The Wind
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
  <plugin name="cordova-plugin-inappbrowser" source="npm"/>
   <plugin name="cordova-plugin-network-information" source="npm"/>
  <plugin name="cordova-plugin-network-information" source="npm"/>
  <plugin name="cordova-plugin-payment-iap" source="npm" />
  <plugin name="cordova-plugin-geolocation" source="npm" />
  <plugin name="cordova-plugin-statusbar" source="npm" />

  <preference name="StatusBarOverlaysWebView" value="false" />
  <preference name="StatusBarBackgroundColor" value="#000000" />
  <preference name="StatusBarStyle" value="lightcontent" />
  <preference name="BackupWebStorage" value="none"/>

<feature name="http://api.phonegap.com/1.0/geolocation" />
    <feature name="http://api.phonegap.com/1.0/network" />
    <feature name="http://api.phonegap.com/1.0/device" />
  <feature name="Geolocation">
    <param name="android-package" value="org.apache.cordova.GeoBroker" />
</feature>
<icon src="icon.png"/>
  <splash src="splash.png" />
  <allow-intent href="market:*" />
  <allow-navigation href="http://*/*" />
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
    <platform name="android">
    <plugin name="cordova-custom-config" version="*"/>
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="ios" spec="~4.1.1" />
    <engine name="android" spec="~5.1.1" />
</widget>
